* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: "exo 2", sans-serif;
    transition: all 0.2s linear;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    background: #333;
  }
  
  
  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  header .logo {
    font-size: 1.6rem;
    color: #fff;
    text-decoration: none;
    text-shadow: 0.1rem 0.1rem 0.3rem #333;
    margin-left: 4%;
  }
  
  header .logo:hover {
    color: #45aaf2;
  }
  
  nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
  }
  
  nav img {
    width: 150px;
  }
  
  .nav-links {
    flex: 1;
    text-align: right;
  }
  
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  
  .nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
  }
  
  .nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #45aaf2;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  
  .nav-links ul li:hover::after {
    width: 100%;
  }
  
  nav .fa {
    display: none;
  }
  
  .container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }
  
  .container .content {
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.3rem #333;
  }
  
  .container .content h1 {
    font-size: 9rem;
    color: #45aaf2;
    margin-top: 15%;
  }
  
  .container .content h2 {
    font-size: 7rem;
    color: #fff;
  }
  
  .container .content button {
    outline: none;
    border: none;
    padding: 2% 5%;
    background: #45aaf2;
    cursor: pointer;
    font-size: 1.8rem;
    color: #fff;
    box-shadow: 0.1rem 0.1rem 0.3rem #333;
    margin-top: 7%;
  }
  
  .container .content button:hover {
    background: #2c3e50;
    letter-spacing: 0.2rem;
  }
  
  .container .video-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  
  .container .video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: vid 0.5s alternate;
    display: none;
  }
  
  .container .video-container .vid1 {
    display: block;
  }
  
  .container .controls {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  @keyframes vid {
    0% {
      transform: scale(3.5) skew(-45deg) rotate(45deg);
    }
  }
  
  @media (max-width: 768px) {
    .container {
      min-height: 600px;
    }
  
    .container .content h1 {
      font-size: 40px;
    }
  
    .container .content h2 {
      font-size: 38px;
    }
  
    .container .content button {
      padding: 4% 8%;
    }
  
    .nav-links ul li {
      display: block;
    }
  
    .nav-links {
      position: fixed;
      background: rgb(19, 177, 80);
      height: 100vh;
      width: 200px;
      top: 0;
      right: -300px;
      text-align: left;
      z-index: 2;
      transition: 1s;
    }
  
    nav .fa {
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
    }
  
    .nav-links ul {
      padding: 30px;
    }
  }