.creature {
  position: absolute;
  user-select: none;
}
.button {
  align-content: center;
  font-size: 18px;
  padding: 10px;
  background-color: aqua;
  border: 0;
  margin-top: 20px;
  border-radius: 10px;
}

.caption {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: auto;
  width: auto;
  padding: 1rem;
  font-size: 1.5rem;
  border: 0px;
  border-radius: 8px;
  background-color: white;

  .caption-name {
    align-self: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    padding-bottom: 16px;
    font-size: 3rem;
  }

  p {
    margin: 0;
  }
}