.ocean {
  height: 12000px;
  width: 100%;
  overflow: hidden;

  #background {
    position: absolute;
    z-index: -1;
    height: 12000px;
    width: 100%;
  }

  #wave-container {
    height: 250px;

    #wave {
      height: 250px;
    }
  }

  .ocean-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 700px;
    color: white;
    text-align: center;
    font-size: 16px;
  }

  .ocean-header {
    font-size: 48px;
    padding-bottom: 12px;
  }

  #introduction {
    top: 40vh;
    font-size: 40px;
    animation: fadeIn 2s linear forwards;
    -webkit-animation: fadeIn 2s linear forwards;
  }

  #sunlight {
    top: 1000px;
  }

  #twilight {
    top: 2450px;
  }

  #midnight {
    top: 5650px;
  }

  #abyss {
    top: 7850px;
  }

  #trenches {
    top: 11750px;
    left: 84%;
    width: 240px;
  }

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}